@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-backgroud: oklch(0.9851 0 0);
  --color-base: oklch(0.9619 0.0045 78.3);
  --color-foreground: oklch(0.4325 0.1276 26.36);
  --color-accent: oklch(0.7209 0.1442 59.16);
  --color-border: oklch(0.2502 0.0445 31.51);

}
